
header{
    background: url("Images/bojack.jpg");
    height: 260px;
    border-bottom: 4px solid rgba(0,0,0, 0.8);
}

.header-background{
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    position: relative;
}


/*Footer*/
footer{
    height: 200px;
    background:  #0e0f0fc4;
    border-top: 4px solid rgba(0,0,0, 0.8);
}

.lista-footer{
    text-align: center;
    padding: 50px 0;
}

.lista-footer li{
    display: inline-block;
    padding: 20px 20px;
}

.lista-footer img{
    width: 50px;
    transition: 0.5s;
}

.lista-footer img:hover{
    width: 75px;
}